.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(223, 219, 219, 0.329);
}

.cabecalho h1 {
    margin: 0;
    font-size: 1.4rem;
}

.content {
    padding: 25px;
    height: 100vh;
}